:root{
  --primary-color:#304463;
  --card-color:#2a6bcdb6;
  --gradient-color:linear-gradient(102.11deg, #34488A 49.48%, #1D4ED5 65.37%, #2C53B7 82.2%);
  --link-color:#2B59AC;
  --subtitle:#DEDEDE;
  --button-color:#3B58F0;
  --card-opacity:67%;
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
*,::before,::after{
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

